.browseContainer {
    width: 100%;
    height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    background: var(--colorb1);
    align-items: center;
}

.content {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.colorsWrapper {
    margin: 20px;
}

.colorsWrapper h1{
    color: var(--suplementarycolor);
    font-family: 'Tilt Warp';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .5px;
}

.colorsContainer {
    display: flex;
    border: 2px solid black;
    padding: 30px;
    border-radius: 25px;
    transition: .2s;
    cursor: pointer;
}

.colors {
    width: 80px;
    height: 80px;
    border: 2px solid black;
}

.colors p {
    opacity: 0;
    transition: .2s;
}

.colors:hover p {
    opacity: 1;
    transform: translateY(-25px);
}

@media only screen and (max-width: 992px) {
    .content {
        grid-template-columns: auto auto;
    }
}