.browseContainer {
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(231, 231, 231, 0.8);
    align-items: center;
}

.content {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.colorsContainer {
    display: flex;
    margin: 20px;
}

.colors {
    width: 80px;
    height: 80px;
}

.colors p {
    opacity: 0;
    transition: .2s;
}

.colors:hover p {
    opacity: 1;
}

@media only screen and (max-width: 992px) {
    .content {
        grid-template-columns: auto auto;
    }
}