.browseContainer {
    width: 100%;
    height: fit-content;
    min-width: 100%;
    display: flex;
    justify-content: center;
    background: var(--colorb1);
    align-items: center;
}

.content {
    width: 90%;
/*     display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.colorsWrapper {
    margin: 20px;
    transition: .2s;
}

.colorsWrapper:hover {
    transform: translateY(-10px);
}

.colorsWrapper h1{
    color: var(--suplementarycolor);
    font-family: 'Tilt Warp';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .5px;
}

.colorsContainer {
    display: flex;
    border: 2px solid black;
    padding: 30px;
    border-radius: 25px;
    transition: .2s;
    cursor: pointer;
    align-items: center;
}

.colorCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.colorsContainer h1 {
    font-size: 30px;
}

.colors {
    width: 80px;
    height: 80px;
    border: 2px solid black;
}

.colors p {
    opacity: 0;
    transition: .2s;
}

.colors:hover p {
    opacity: 1;
    transform: translateY(-25px);
}

@media only screen and (max-width: 992px) {
    .content {
        grid-template-columns: auto auto;
        width: 100%;
    }

    .colorsWrapper h1 {
        font-size: 15px;
    }

    .colorsContainer {
        padding: 15px;
        border-radius: 15px;
    }

    .colorCircle {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
}

/* @media only screen and (max-width: 410px) {
    .colorsWrapper {
        width: 95%;
        padding: 0px;
        margin: 0px;
    }

    .colorsContainer {
        width: 100%;
    }
} */