:root {
  line-height: 1.5;
  font-weight: 400;

  --colorb1 : #FFFFFF;
  --colorb2 : #EFF5FF;
  --colorb3 : #DFECFF;
  --colorb4 : #CFE2FE;
  --colorb5 : #BFD9FE;
  --colorb6 : #AFCFFE;
  --colorb7 : #9FC6FE;
  --colorb8 : #8FBCFE;
  --colorb9 : #7FB3FE;
  --colorb10 : #6FA9FD;
  --colorb11 : #5FA0FD;
  --colorb12 : #4F96FD;
  --errorcolor: #f82b46;
  --suplementarycolor: #032c91;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Raleway' !important;
  transition: .2s;
}
