.addContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addContainer h1 {
    color: var(--colorb12);
    font-family: 'Tilt Warp';
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.addContainer h1 span {
    color: var(--suplementarycolor);
    font-family: 'Tilt Warp';
}

.addContent {
    width: 100%;
    height: calc(70% - 70px);
    display: flex;
    justify-content: center;
}

.addInputSpace {
    background: var(--colorb3);
    width: 30%;
    height: 80%;
    border-radius: 15px;
    border: 2px solid white;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.addInputSpace:hover {
    filter: brightness(80%);
}

.addInputSpace input {
    padding: 20px;
    border-radius: 15px;
    outline: none;
    background: white;
    transition: .2s;
}


.addInputSpace input:hover {
    background: red;
}

.addPreview {
    padding: 20px;
    margin-right: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.addPreview:hover {
    transform: translateY(-10px);
}

.addCircle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.addPreview h1 {
    margin-top: 0px;
    font-size: 35px;
}

.addContainer section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.addButton {
    padding: 20px;
    font-size: 35px;
    font-family: 'Tilt Warp';
    background: var(--suplementarycolor);
    border: 2px solid var(--colorb6);
    border-radius: 15px;
    color: var(--colorb1);
    transition: .2s;
}

.addButton:hover {
    background: var(--colorb1);
    color: var(--colorb12);
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    .addContainer h1 {
        font-size: 30px;
    }

    .addContent {
        flex-direction: column;
    }

    .addInputSpace {
        width: 100%;
        margin: 0;
    }

    .addContainer section {
        flex-direction: column;
    }

    .addPreview {
        margin: 20px;
    }
}