.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    min-width: 100%;
}

.secondColumn {
    width: 40%;
}

.firstColumn {
    color: black;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstColumn h1 {
    color: #e73f5e;
    font-size: 5vw;
    font-weight: 800;
    text-align: justify;
    width: 80%;
    z-index: 2;
}

.firstColumn p {
    color: #223056;
    font-size: 2.4vw;
    font-weight: 800;
    text-align: justify;
    width: 80%;
    z-index: 2;
}

.secondColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.secondColumn button {
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 3vw;
    font-weight: 800;
    background: white;
    color: #223056;
    border: none;
    transition: .2s;
    cursor: pointer;
    z-index: 2;
}

.secondColumn button a {
    text-decoration: none;
    color: #223056;
}

.secondColumn button:after {
    position: relative;
    content: '';
    width: 0px;
    height: 4px;
    background: #e73f5e;
    display: block;
    transform: translateX(-50%);
    transition: .2s;
}

.secondColumn button:hover:after {
    width: 50%;
    transform: translateX(0);
}

.mainShade {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #efeff3;
    display: block;
    z-index: 1;
    transform: skew(20deg);
    transition: .2s;
    filter: blur(20px);
}

.mainShade:hover {
    width: 52%;
}

.randomColoredSquares {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    border: 10px solid black;
    position: relative;
    width: 80px;
    height: 80px;
    filter: blur(10px);
    z-index: 2;
    transform: translateY(400%);
}