.navbarContainer {
    width: 100vw;
    height: 70px;
    display: flex;
    background: rgba(231, 231, 231, 0.8);
    min-width: 100%;
}

.navbarLogo {
    width: 70%;
    display: flex;
    align-items: center;
}

.navbarLogo h1 {
    transform: translateX(20%);
    font-weight: 800;
}

.navbarButtons {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.navbarButtons button {
    padding: 10px;
    height: fit-content;
    margin: 10px;
    background: none;
    border: 2px solid transparent;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 800;
    transition: .2s;
}

.navbarButtons button a {
    color: black;
}

.navbarButtons button:hover {
    border: 2px solid black;
    cursor: pointer;
}