.navbarContainer {
    width: 100%;
    min-width: 100%;
    height: 70px;
    display: flex;
    background: var(--colorb1);
    position: block;
    justify-content: center;
}

.navbarLogo {
    width: 50%;
    display: flex;
    align-items: center;
}

.navbarLogo h1 {
    transform: translateX(20%);
    font-weight: 800;
    font-size: 30px;
    font-family: 'Tilt Warp';
    transition: .2s;
    text-shadow: 2px 0px 2px transparent, -2px 0px 2px transparent, 0px 2px 2px transparent, 0px -2px 2px transparent;
}

.navbarLogo h1 a {
    color: var(--suplementarycolor);
    transition: .2s;
}

.navbarLogo h1 a:hover {
    text-shadow: 2px 0px 2px var(--suplementarycolor), -2px 0px 2px var(--suplementarycolor), 0px 2px 2px var(--suplementarycolor), 0px -2px 2px var(--suplementarycolor);
    color: rgb(236,236,236)
}

.navbarButtons {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.navbarButtons button {
    padding: 10px;
    height: fit-content;
    width: 100px;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 800;
    transition: .2s;
}

.navbarButtons button:hover {
    cursor: pointer;
}

.Username {
    color: var(--suplementarycolor);
    font-family: 'Tilt Warp';
    font-weight: 500;
    font-size: 25px;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
}

.Username:after {
    position: relative;
    display: block;
    content: '';
    width: 0px;
    height: 2px;
    background: var(--suplementarycolor);
    transition: .2s;
}

.Username:hover:after {
    width: 100%;
}

.navbarAdd {
    background: var(--suplementarycolor);
    color: var(--colorb1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: .2s;
}

.navbarAdd:hover {
    border: 2px solid var(--colorb5);
}

.AddIcon {
    color: var(--colorb12);
    background: var(--colorb1);
    border-radius: 50%;
    margin-right: 5px;
}

.Logout {
    background: var(--errorcolor);
    color: var(--colorb1);
    transition: .2s;
}

.Logout:hover {
    filter: brightness(90%);
}

#Login {
    background: none;
    border: 2px solid transparent;
    transition: .2s;
}

#Login a {
    color: black;
    font-family: 'Tilt Warp';
    font-size: 25px;
    font-weight: 500;
}

#Login:hover {
    border: 2px solid black;
}

#Signup {
    background: var(--colorb12);
    color: var(--colorb12);
}

#Signup a {
    color: var(--colorb2);
}

#Signup:hover {
    background: var(--suplementarycolor);
    color: var(--colorb1);
}

@media only screen and (max-width:991px) {
    .navbarLogo h1 {
        font-size: 20px;
    }

    .Logout {
        font-size: 15px;
    }

    #Login a {
        font-size: 20px;
    }

    .navbarButtons {
        margin-right: 50px;
    }

    .navbarButtons button {
        font-size: 15px;
    }

    .navbarButtons button a{
        font-size: 15px;
    }
}

@media only screen and (max-width:700px) {
    .navbarButtons {
        width: 40%;
    }

    .navbarLogo {
        width: 60%;
    }

    .Logout {
        font-size: 12px;
    }
}