.navbarContainer {
    width: 100%;
    min-width: 100%;
    height: 70px;
    display: flex;
    background: var(--colorb1);
}

.navbarLogo {
    width: 80%;
    display: flex;
    align-items: center;
}

.navbarLogo h1 {
    transform: translateX(20%);
    font-weight: 800;
    font-size: 30px;
    font-family: 'Tilt Warp';
    transition: .2s;
    text-shadow: 2px 0px 2px transparent, -2px 0px 2px transparent, 0px 2px 2px transparent, 0px -2px 2px transparent;
}

.navbarLogo h1 a {
    color: var(--suplementarycolor);
    transition: .2s;
}

.navbarLogo h1 a:hover {
    text-shadow: 2px 0px 2px var(--suplementarycolor), -2px 0px 2px var(--suplementarycolor), 0px 2px 2px var(--suplementarycolor), 0px -2px 2px var(--suplementarycolor);
    color: rgb(236,236,236)
}

.navbarButtons {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.navbarButtons button {
    padding: 10px;
    height: fit-content;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 800;
    transition: .2s;
}

.navbarButtons button a {
    color: black;
}

.navbarButtons button:hover {
    border: 2px solid black;
    cursor: pointer;
}

#Signup {
    background: var(--colorb5);
    color: var(--colorb12);
}

#Signup:hover {
    background: var(--colorb12);
    color: var(--colorb1);
}